<!-- The following URL was used to create the html/javascript frontend: 
    https://tms-dev-blog.com/python-backend-with-javascript-frontend-how-to/ -->
    <html>
        <header>
            <title>App</title>
        </header>
        
        <body>
            <div>Making rest call to a health end checkpoint</div>
            <button onclick="getHealth()">Health Check</button>
            <div id="result-container"></div>
        </body>
        <script>
            var xhr = null;
        
            getXmlHttpRequestObject = function () {
                if (!xhr) {
                    // Create a new XMLHttpRequest object 
                    xhr = new XMLHttpRequest();
                }
                return xhr;
            };
        
            // Handles response from backend
            function dataCallback() {
                // Check response is ready or not
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log("User data received!");
                    dataDiv = document.getElementById('result-container');
                    // Set current data text
                    dataDiv.innerHTML = xhr.responseText;
                }
            }
        
            // Making a rest call to a health-check endpoint in backend
            function getHealth() {
                console.log("Get health...");
                xhr = getXmlHttpRequestObject();
                xhr.onreadystatechange = dataCallback;
                // asynchronous requests
                xhr.open("GET", "http://127.0.0.1:5000/health", true);
                // Send the request over the network
                xhr.send(null);
            }
        </script>
        
        </html>
