<html>
    <header>
        <title>App</title>
        <div class="container">
            <nav>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('movies') }}">Movies</a></li>
                <li><a href="{{ url_for('customer') }}">Customer</a></li>
            </nav>
        </div>
        <style>
            td {
                border-style: solid;
                border-color: #c4c3d0;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            th {
                border-style: solid;
                border-color: #c4c3d0;
                background-color: #c4c3d0;
            }
    
            .container{
                width: 80%;
                margin: 0 auto;
            }
    
            header{
                background: #c4c3d0; 
            }
    
            header::after{
                content: '';
                display: table;
                clear: both;
            }
    
            nav{
                float: right;
            }
    
            nav ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }
    
            nav li{
                display: inline-block;
                margin-left: 70px;
                padding-top: 23px;
                padding-bottom: 23px;
                position: relative;
            }
    
            nav a{
                color: #444;
                text-decoration: none;
                text-transform: uppercase;
            }
            nav a:hover{
                color: #000;
            }
            nav li ::before {
                content: "";
                display: block;
                height: 5px;
                background-color: #9998aa;
    
                position: absolute;
                top: 0;
                width: 0%;
    
                transition: all ease-in-out 250ms;
            }
        
            nav li :hover::before {
                width: 100%;
            }

            table {
                margin: auto;
                display: inline-block;
                vertical-align: top;
                padding-left: 4%;
                /* padding-top: 4%; */
            }
            
            .info {
                width: 350px;
                height: 360px;
                margin: auto;
                display: inline-block;
                border-color: #c4c3d0;
                border-style: solid;
                vertical-align: top;
                padding-left: 4%;
                overflow-y:scroll;

            }

            div {
                width: 400px;
                margin: auto;
                display: inline-block;
                padding-left: 4%;
            }



            
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- <script src="https://parall.ax/parallax/js/jspdf.js"></script> -->
    </header>
    
    <body>
        <br>
        <div>
            <input type="text" class="search" id="data-input1" placeholder="Search by id!">
            <button class="submit" onclick="sendDataById()">Search</button>
        </div>
        <div>
            <input type="text" class="search" id="data-input2" placeholder="Search by first name!">
            <button class="submit" onclick="sendDataByFirst()">Search</button>
        </div>
        <div>
            <input type="text" class="search" id="data-input3" placeholder="Search by last name!">
            <button class="submit" onclick="sendDataByLast()">Search</button>
        </div>
        
        <hr>
        <table id = "res">
        
        </table>
        <div id = "infobox" class="info">
            <p></p>
        </div>
        <div id = "infobox2" class="info">
            <p></p>
        </div>
        <hr>
        <button class="button add-customer">+ Add Customer</button>
        <button class="button delete-customer">Delete User Account</button> 
        

        <dialog class="modal" id="modal">
            <h2>Add New User</h2>
            <form class="form" method="dialog" id="newUser">
                <label>Store: <input id="store" type="text"></label>
                <br>
                <br>
                <label>First Name: <input id="first_name" type="text"></label>
                <br>
                <br>
                <label>Last Name: <input id="last_name" type="text"></label>
                <br>
                <br>
                <label>Phone Number: <input id="phone" type="tel"></label>
                <br>
                <br>
                <label>Email: <input id="email" type="email"></label>
                <br>
                <br>
                <label>Address: <input id="address" type="text"></label>
                <br>
                <br>
                <label>District: <input id="district" type="text"></label>
                <br>
                <br>
                <label>City: <input id="city" type="text"></label>
                <br>
                <br>
                <label>Country: <input id="country" type="text"></label>
                <br>
                <br>
                <label>Postal Code: <input id="postal" type="text"></label>
                <br>
                <br>
                <button class="button submit-form" type="submit">submit form</button>
            </form>

        </dialog>

        <dialog class="modal" id="modal2">
            <h2>Delete User</h2>
            <form class="form" method="dialog" id="deleteUser">
                <label>Customer ID: <input id="delete_customer_id" type="text"></label>
                <br>
                <br>
                
                <button class="button submit-form2" type="submit">submit</button>
            </form>

        </dialog>
        <div>
            <input type="number" class="search" id="data-input4" placeholder="Enter User Id!">
            <button class="submit" id="Edit">Edit My Info</button>
        </div>
        <dialog class="modal" id="modal3">
            <h2>Edit Category</h2>
            <form class="form" method="dialog" id="editUser">
                <label>Store: <input id="store" type="text"></label>
                <br>
                <br>
                <label>First Name: <input id="edit_first_name" type="text"></label>
                <br>
                <br>
                <label>Last Name: <input id="edit_last_name" type="text"></label>
                <br>
                <br>
                <label>Phone Number: <input id="edit_phone" type="tel"></label>
                <br>
                <br>
                <label>Email: <input id="edit_email" type="email"></label>
                <br>
                <br>
                <label>Address: <input id="edit_address" type="text"></label>
                <br>
                <br>
                <label>District: <input id="edit_district" type="text"></label>
                <br>
                <br>
                <label>City: <input id="edit_city" type="text"></label>
                <br>
                <br>
                <label>Country: <input id="edit_country" type="text"></label>
                <br>
                <br>
                <label>Postal Code: <input id="edit_postal" type="text"></label>
                <br>
                <br>
                <button class="button edit_submit-form" type="submit">submit form</button>
            </form>
        </dialog>

        <br>
        <br>
        <a href="{{ url_for('.rentPDF1') }}">Download Store 1 Rental Report</a>
        <br>
        <a href="{{ url_for('.rentPDF2') }}">Download Store 2 Rental Report</a>
        <br>

        
        <!-- <button id ="test" class="test">Testing</button> -->
    </body>
    <script>
        var xhr = null;
        const pdf1 = document.getElementById("container-1");
        

        const modal = document.querySelector("#modal");
        const modal2 = document.querySelector("#modal2");
        // const modal3 = document.querySelector("#modal3");
        const modal4 = document.querySelector("#modal4");
        const openModal = document.querySelector(".add-customer");
        const openModal2 = document.querySelector("edit");
        // const openModal3 = document.querySelector(".edit_submit-form");
        const openModal4 = document.querySelector("button");
        const closeModal = document.querySelector(".submit-form");
        const closeModal2 = document.querySelector(".submit-form2");
        // const closeModal3 = document.querySelector(".edit_submit-form");
        const closeModal4 = document.querySelector(".download");

        openModal.addEventListener("click", () => {
        modal.showModal();
        }); 

        // closeModal2.addEventListener("click", () => {
        //     let customer_id = document.getElementById("delete_customer_id");

        //     if (customer_id.value == ""){
        //         alert("Please fill in all fields");
        //     }else{
        //         deleteUser();
        //         console.log("Deleting User..");
        //     }

        // modal.close();
        // });


        function sendDataCallbackDelete(){
            // Check response is ready or not
            if (xhr.readyState == 4 && xhr.status == 204) {
                console.log("User Deleted!");
                
            }else{
                console.log("User not deleted");
            
            }
        }

        function deleteUser(){
            let customer_id= document.getElementById("delete_customer_id").value;
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = sendDataCallbackDelete;
            // asynchronous requests
            xhr.open("POST", "http://127.0.0.1:5000/deleteUser", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            // Send the request over the network
            xhr.send(JSON.stringify({"customer_id": customer_id}));

        }

        function dataCallbackTest(){
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log("Test results received!");
                const info = document.getElementById("container-1");

                myObj = JSON.parse(xhr.responseText);
                info.innerHTML = "<h2>Test results</h2></br>";
                count = Object.keys(myObj).length
                for(let i = 0; i < count; i++){
                    info.innerHTML +=
                    "<b>Customer ID:</b> " + myObj[i].address_id + "</br>";
                }
            }

        }
        
        function getTest(){
            console.log("Running tests...");
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = dataCallbackTest;
            // asynchronous requests
            xhr.open("GET", "http://127.0.0.1:5000/test", true);
            // Send the request over the network
            xhr.send(null);
        }

        closeModal.addEventListener("click", () => {
            let store = document.getElementById("store");
            let first_name = document.getElementById("first_name");
            let last_name = document.getElementById("last_name");
            let phone = document.getElementById("phone");
            let email = document.getElementById("email");
            let address = document.getElementById("address");
            let district = document.getElementById("district");
            let city = document.getElementById("city");
            let country = document.getElementById("country");
            let postal = document.getElementById("postal");

            if (store.value == "" || first_name.value == "" || last_name.value == "" || phone.value == ""
            || email.value == "" || address.value == "" || district.value == "" || city.value == "" ||
            country.value == "" || postal.value == ""){
                alert("Please fill in all fields");
            }else{
                sendDataNewCust();
                console.log("New user data received");
            }

        modal.close();
        });


        function sendDataCallbackAddCust() {
            // Check response is ready or not
            if (xhr.readyState == 4 && xhr.status == 204) {
                console.log("New customer added!");
                
            }
        }

        function sendDataNewCust() {
            let store = document.getElementById("store").value;
            let first_name = document.getElementById("first_name").value;
            let last_name = document.getElementById("last_name").value;
            let phone = document.getElementById("phone").value;
            let email = document.getElementById("email").value;
            let address = document.getElementById("address").value;
            let district = document.getElementById("district").value;
            let city = document.getElementById("city").value;
            let country = document.getElementById("country").value;
            let postal = document.getElementById("postal").value;

            console.log("Sending data...");
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = sendDataCallbackAddCust;
            // asynchronous requests
            xhr.open("POST", "http://127.0.0.1:5000/addCust", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            // Send the request over the network
            xhr.send(JSON.stringify({"store": store, "first": first_name,
            "last": last_name, "phone": phone, "email": email, "address": address,
            "district": district, "city": city, "country": country, "postal": postal}));
        }

        



        

        getXmlHttpRequestObject = function () {
            if (!xhr) {
                // Create a new XMLHttpRequest object 
                xhr = new XMLHttpRequest();
            }
            return xhr;
        };
        function dataCallback() {
            // Check response is ready or not
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log("User data received!");

                const tbl = document.getElementById("res");
                
                x = tbl.rows.length;
                for (let i = 0; i < x; i++){
                    tbl.deleteRow(0);
                }

                const tblBody = document.createElement("tbody");

                myObj = JSON.parse(xhr.responseText)

                const head = document.createElement("tr");

                const cell1 = document.createElement("th");
                const text1 = document.createTextNode("ID");
                cell1.appendChild(text1);
                head.appendChild(cell1);

                const cell2 = document.createElement("th");
                const text2 = document.createTextNode("First Name");
                cell2.appendChild(text2);
                head.appendChild(cell2);

                const cell3 = document.createElement("th");
                const text3 = document.createTextNode("Last Name");
                cell3.appendChild(text3);
                head.appendChild(cell3);

                tblBody.appendChild(head);
                // creating all cells
                count = Object.keys(myObj).length
                for(let i = 0; i < count; i++){
                    const row = document.createElement("tr");
                    const cell1 = document.createElement("td");
                    const text1 = document.createTextNode(myObj[i].customer_id);
                    cell1.appendChild(text1);
                    // cell1.onclick = function() {custInfo(myObj[i].customer_id);};
                    row.appendChild(cell1);

                    const cell2 = document.createElement("td");
                    const text2 = document.createTextNode(myObj[i].first_name);
                    cell2.appendChild(text2);
                    row.appendChild(cell2);

                    const cell3 = document.createElement("td");
                    const text3 = document.createTextNode(myObj[i].last_name);
                    cell3.appendChild(text3);
                    row.appendChild(cell3);

                    tblBody.appendChild(row);
                }

                tbl.appendChild(tblBody);

                if(tbl != null){
                    for(var i = 0; i < tbl.rows.length; i++){
                        tbl.rows[i].addEventListener('click', function(e) {
                            var target = e.target,
                                col = target.cellIndex,
                                row;
                            while (target = target.parentElement) {
                                if (!col && col !== 0) {
                                    col = target.cellIndex;
                                }
                                if (target.tagName.toLowerCase() === 'tr') {
                                    row = target.rowIndex;
                                    break;
                                }               
                            }
                            console.log(tbl.rows[row].cells[0].innerHTML);
                            custInfo(tbl.rows[row].cells[0].innerHTML);
                        })
                    }
                }
            }
        }

        function sendDataCallback() {
            // Check response is ready or not
            if (xhr.readyState == 4 && xhr.status == 201) {
                console.log("User data received!");

                const info = document.getElementById("infobox");
                const info2 = document.getElementById("infobox2");

                myObj = JSON.parse(xhr.responseText);
                
                info.innerHTML = "<h2>" + myObj[0].first_name + " " + myObj[0].last_name + "</h2></br>" +
                "<b>Email:</b> " + myObj[0].email + "</br>" +
                "<b>Phone:</b> " + myObj[0].phone + "</br>" +
                "<b>Store:</b> " + myObj[0].store_id + "</br>" +
                "<b>Address:</b> " + myObj[0].address + "</br>" + 
                "<b>District:</b> " + myObj[0].district + "</br>" +
                "<b>City:</b> " + myObj[0].city + "</br>" +
                "<b>Country:</b> " + myObj[0].country + "</br>" +
                "<b>Postal Code:</b> " + myObj[0].postal_code + "</br>" +
                "<b>Rentals:</b> " + myObj[0].count + "</br>";

                info2.innerHTML = "<h3>Movies Rented<h3>";

                if (myObj[2].not_returned.length > 0){
                    info2.innerHTML += "<h3>Not Returned<h3>";
                    for (let i = 0; i < myObj[2].not_returned.length; i++){
                        info2.innerHTML += myObj[2].not_returned[i]['not_returned'] + "<br>";
                    }  
                }
                
                if (myObj[1].returned.length > 0){
                    info2.innerHTML += "<h3>Returned<h3>";
                    for (let i = 0; i < myObj[1].returned.length; i++){
                        info2.innerHTML += myObj[1].returned[i]['returned'] + "<br>";
                    }
                }   
            }
        }

        function sendDataCallbackId() {
            // Check response is ready or not
            if (xhr.readyState == 4 && xhr.status == 201) {
                console.log("User data received!");

                const tbl = document.getElementById("res");
                
                x = tbl.rows.length;
                for (let i = 0; i < x; i++){
                    tbl.deleteRow(0);
                }

                const tblBody = document.createElement("tbody");

                myObj = JSON.parse(xhr.responseText)

                const head = document.createElement("tr");

                const cell1 = document.createElement("th");
                const text1 = document.createTextNode("ID");
                cell1.appendChild(text1);
                head.appendChild(cell1);

                const cell2 = document.createElement("th");
                const text2 = document.createTextNode("First Name");
                cell2.appendChild(text2);
                head.appendChild(cell2);

                const cell3 = document.createElement("th");
                const text3 = document.createTextNode("Last Name");
                cell3.appendChild(text3);
                head.appendChild(cell3);

                tblBody.appendChild(head);
                // creating all cells
                count = Object.keys(myObj).length
                for(let i = 0; i < count; i++){
                    const row = document.createElement("tr");
                    const cell1 = document.createElement("td");
                    const text1 = document.createTextNode(myObj[i].customer_id);
                    cell1.appendChild(text1);
                    // cell1.onclick = function() {custInfo(myObj[i].customer_id);};
                    row.appendChild(cell1);

                    const cell2 = document.createElement("td");
                    const text2 = document.createTextNode(myObj[i].first_name);
                    cell2.appendChild(text2);
                    row.appendChild(cell2);

                    const cell3 = document.createElement("td");
                    const text3 = document.createTextNode(myObj[i].last_name);
                    cell3.appendChild(text3);
                    row.appendChild(cell3);

                    tblBody.appendChild(row);
                }

                tbl.appendChild(tblBody);

                if(tbl != null){
                    for(var i = 0; i < tbl.rows.length; i++){
                        tbl.rows[i].addEventListener('click', function(e) {
                            var target = e.target,
                                col = target.cellIndex,
                                row;
                            while (target = target.parentElement) {
                                if (!col && col !== 0) {
                                    col = target.cellIndex;
                                }
                                if (target.tagName.toLowerCase() === 'tr') {
                                    row = target.rowIndex;
                                    break;
                                }               
                            }
                            console.log(tbl.rows[row].cells[0].innerHTML);
                            custInfo(tbl.rows[row].cells[0].innerHTML);
                        })
                    }
                }
            }
        }

        window.onload = function getCust() {
            console.log("Get customers...");
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = dataCallback;
            // asynchronous requests
            xhr.open("GET", "http://127.0.0.1:5000/getCust", true);
            // Send the request over the network
            xhr.send(null);
        }

        function custInfo(id) {
            dataToSend = id;
            console.log("Sending data: " + dataToSend);
            console.log("Getting customer info...");
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = sendDataCallback;
            // asynchronous requests
            xhr.open("POST", "http://127.0.0.1:5000/getId", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            // Send the request over the network
            xhr.send(JSON.stringify({"data": dataToSend}));
        }

        function sendDataById() {
            dataToSend = document.getElementById('data-input1').value;
            if (!dataToSend) {
                console.log("Data is empty.");
                return;
            }
            console.log("Sending data: " + dataToSend);
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = sendDataCallbackId;
            // asynchronous requests
            xhr.open("POST", "http://127.0.0.1:5000/custById", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            // Send the request over the network
            xhr.send(JSON.stringify({"data": dataToSend}));
        }

        function sendDataByFirst() {
            dataToSend = document.getElementById('data-input2').value;
            if (!dataToSend) {
                console.log("Data is empty.");
                return;
            }
            console.log("Sending data: " + dataToSend);
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = sendDataCallbackId;
            // asynchronous requests
            xhr.open("POST", "http://127.0.0.1:5000/custByFirst", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            // Send the request over the network
            xhr.send(JSON.stringify({"data": dataToSend}));
        }

        function sendDataByLast() {
            dataToSend = document.getElementById('data-input3').value;
            if (!dataToSend) {
                console.log("Data is empty.");
                return;
            }
            console.log("Sending data: " + dataToSend);
            xhr = getXmlHttpRequestObject();
            xhr.onreadystatechange = sendDataCallbackId;
            // asynchronous requests
            xhr.open("POST", "http://127.0.0.1:5000/custByLast", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            // Send the request over the network
            xhr.send(JSON.stringify({"data": dataToSend}));
        }
    </script>

    
</html>
